@model Presentation.ViewModel.AeroportoViewModel
@{
    ViewData["Title"] = "Editar Aeroporto";
}

<h1>Editar Aeroporto</h1>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="CodigoIATA">Código IATA:</label>
        <input asp-for="CodigoIATA" />
        <span asp-validation-for="CodigoIATA"></span>
    </div>

    <div>
        <label asp-for="Nome">Nome:</label>
        <input asp-for="Nome" />
        <span asp-validation-for="Nome"></span>
    </div>

    <div>
        <label asp-for="NomeCidade">Cidade:</label>
        <input asp-for="NomeCidade" />
        <span asp-validation-for="NomeCidade"></span>
    </div>

    <button type="submit">Salvar</button>
</form>

<a asp-action="Index">Voltar para a Lista</a>
