@model List<Application.DTOs.AeroportoDTO>
@{
    ViewData["Title"] = "Aeroportos";
}
<div class="container">

    <h2>@ViewData["Title"]</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Código IATA</th>
                <th>Nome</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aeroporto in Model)
            {
                <tr>
                    <td>@aeroporto.Nome</td>
                    <td>@aeroporto.CodigoIATA</td>
                    <td>@aeroporto.CidadeID</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Criar">Criar Novo Aeroporto</a>

</div>

